[mysqld]

server_id = 1
basedir = /application/mysql/
datadir = /application/mysql/data/
log_bin = /application/mysql/logs/mysql-bin
expire_logs_days = 7
slow-query-log = ON                              
long_query_time = 2                              
log_queries_not_using_indexes = ON       
slow-query-log-file = /application/mysql/logs/slow.log
min_examined_row_limit = 800
gtid_mode=ON
enforce_gtid_consistency 
log_slave_updates
relay_log_purge = 0   
port = 3306
skip-name-resolve  
   
[mysqld_safe]
log-error = /application/mysql/logs/mysql.err
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
